.App {
  text-align: center;
  
}
/* Logo styling */
.App-logo {
  z-index: 0;
  height: 10vmin;
  pointer-events: none;

}
/* Spin animation for the logo */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 30s linear;
  }
}

/* Header styling */
.App-header {
 
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
/* Link styling */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Button cluster section*/
.buttonSection{
 
  margin-bottom: 50px;
  justify-content: center;
}



/* Button styling for numbers*/
.btn{
  z-index: 5;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 15px;
  margin: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: rgb(46, 46, 46);
  color: white;
}

.btncont{
 
   display: flex;
  text-align: center;
  justify-content: center;
  
}
/* Button styling for operators*/

.btnOperators{
  position: fixed;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: left;
  
  margin: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: rgb(46, 46, 46);
  color: white;
}

.cancelButton{
  display: flex;

  padding: 15px;
  padding-left: 30px;
  flex-direction: row;
  text-align: center;
  justify-content: left;
  margin: 5px;
  width: 107px;
  height: 50px;
  border-radius: 50px;
  background-color: rgb(46, 46, 46);
  color: white
}

.display{
  z-index: 10;
}

.displayContainer{
  z-index: 10;
 
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 235px;
  height: 80px;
  background-color: transparent;
  color: white;
  border-radius: 15px;
  padding-right: 15px;
  margin-bottom: 5px;
}
.displayContainer h1{
  font-size: 50px;
  font-weight: 500;
  text-align: center;
}